div.clickio_vast_video .lx_ico.lx_mute {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/muted.png) right top no-repeat;
    background-size: auto 100%;
    width: 48px;
    height: 90%;
    position: absolute;
    right: 3%;
    bottom: 5%;
    z-index: 9;
}
div.clickio_vast_video .lx_ico.lx_mute span {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/unmuted.png) right -100px no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
div.clickio_vast_video .lx_ico.lx_mute.lx_sound_on {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/muted.png) right -100px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_mute.lx_sound_on span {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/unmuted.png) right 0px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_play {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/play.png) left top no-repeat;
    background-size: auto 100%;
    width: 48px;
    height: 90%;
    position: absolute;
    left: 3%;
    bottom: 5%;
    z-index: 9;
}
div.clickio_vast_video .lx_ico.lx_play span {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/pause.png) left -100px no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
div.clickio_vast_video .lx_ico.lx_play:before {
    content: " ";
	background: url(../../../../s.clickiocdn.com/t/static/vastvideo/rewind.png) left -100px no-repeat;
	background-size: auto 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
div.clickio_vast_video .lx_ico.lx_play.lx_playing {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/play.png) left -100px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_play.lx_playing span {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/pause.png) left 0px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_play.lx_rewind:before {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/rewind.png) left -100px no-repeat;
}
div.clickio_vast_video .lx_ico.lx_play.lx_rewind {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/play.png) left -100px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_play.lx_rewind span {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/pause.png) left -100px no-repeat;
    background-size: auto 100%;
}
div.clickio_vast_video .lx_ico.lx_play.lx_rewind:before {
    background: url(../../../../s.clickiocdn.com/t/static/vastvideo/rewind.png) left 0px no-repeat;
    background-size: auto 100%;
}

div.clickio_vast_video .lx_dsc {
    font-size: 16px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction:  row-reverse;
    z-index: -1;
    visibility: hidden;
}
div.clickio_vast_video.lx_ended .lx_dsc {
    z-index:  9999;
    visibility: visible;
}
div.clickio_vast_video .lx_dsc span {
    background: url(../../../../is.luxup.ru/images/i/video32/clickio-logo.png) 20px 20px no-repeat;
    background-size: 110px auto;
    float: right;
    border-left: 1px solid #B90003;
    text-align: left;
    width: 120px;
    height: 60px;
    padding-left: 20px;
    box-sizing: content-box;
}
div.clickio_vast_video .lx_dsc span a {
    background: none;
    font-size: 9px !important;
    line-height: 9px !important;
    color: #B90003 !important;
    padding-top: 0px !important;
    text-align: left!important;
    display: block;
    height: 60px!important;
    float: none!important;
    margin-right: 0px!important;
}
div.clickio_vast_video .lx_dsc a {
    font-size: 16px!important;
    color: #B90003 !important;
    line-height: 20px !important;
    /* padding-top: 18px !important; */
    display: inline-block;
    text-align: left !important;
    text-decoration: underline !important;
    display: block!important;
    margin-right: 20px!important;
    text-align: center!important;
}
div.clickio_vast_video .lx_cls {
    color: #fff;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-transform: uppercase;
    text-decoration: none !important;
    z-index: 5;
}
div.clickio_vast_video .lx_adv {
    color: #fff;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-transform: uppercase;
    text-decoration: none !important;
}
div.clickio_vast_video .lx_adv_txt {
    color: #fff;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    position: absolute;
    text-decoration: none !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
div.clickio_vast_video .lx_txt_lnk {
    position: relative;
    z-index: 1;
    color: #fff;
}
div.clickio_vast_video .lx_bg_lnk {
    position: absolute;
    background: #000;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
div.clickio_vast_video {
	line-height: 0
}

div.clickio_vast_video .lx_adv {
	line-height: 1;
}
div.clickio_vast_video.ended .lx_adv {
    display: none;
}
div.clickio_vast_video .lx_vid {
	display: inline-block;
}
div.clickio_vast_video .lx_icon_layer {
	position: absolute;
	width: 100%;
	height: 15%;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
	z-index: 99999;
}
div.clickio_vast_video .lx_icon_layer {
	bottom: 0;
}
@media only screen and (min-width: 601px) {
    @keyframes icon_layer_show {
		from {bottom: -15%}
		to {bottom: 0;}
	}
	@keyframes icon_layer_hide {
		from {bottom: 0;}
		to {bottom: -15%;}
	}
	div.clickio_vast_video.lx_notmobile:hover .lx_icon_layer {
    	-moz-animation: icon_layer_show 0.5s ease 0s both; /* Firefox */
	    -webkit-animation: icon_layer_show 0.5s ease 0s both; /* Safari and Chrome */
	    -o-animation: icon_layer_show 0.5s ease 0s both; /* Opera */
	    animation: icon_layer_show 0.5s ease 0s both;
	}
	div.clickio_vast_video.lx_notmobile .lx_icon_layer {
    	-moz-animation: icon_layer_hide 0.5s ease 0s both; /* Firefox */
	    -webkit-animation: icon_layer_hide 0.5s ease 0s both; /* Safari and Chrome */
	    -o-animation: icon_layer_hide 0.5s ease 0s both; /* Opera */
	    animation: icon_layer_hide 0.5s ease 0s both;

	}
}