html, body {
	background-color: #FFFFEE;
	color: #800000;
	font-family: Verdana,sans-serif;
	font-size: 1em;
}
a, .a-link-emulator,.spoiler:hover a {color: #0000EE;}
a:hover, .a-link-emulator:hover {color: red;}
.logo {	color: #800000;}
.reply.hiclass, .fm__header:hover {background: #F3CFB9 !important;}
span.spoiler, span.spoiler a {background: #F0D0B6;color: #F0D0B6;}
span.spoiler:hover {color: #800000;}
hr {display: block;border-style: inset;border-width: 1px;}
.qr .qr-header {background-color: #EA8;color: #800;}
.reply, .fm__header, .modal, .pager, .boardstats, .favorites, .dropd-board-btn, .qr, .dropd-board-list  {background: #F0E0D6;border: solid 1px #F0D0B6;}
.qr-settings thead tr, .qr-settings tbody tr:last-child  {background-color: #F5BB95;}
.qr-settings tbody tr {background-color: #F5CBB1;}

.logo__board{	color: #800000;}
.qr__header {background-color: #EA8;color: #800;}
.post_type_reply, .modal, .pager, .bb, .qr, .fm__header {background: #F0E0D6;border: solid 1px #F0D0B6;}
.post_type_replied { border-left: 2px dashed #FF0000; }
.post_type_watched { border-left: 2px solid #FF0000; }
.post_type_highlight {background:#F3CFB9;}